envpath(){
    echo "$(poetry env info --path)"
}
export MKL_ROOT="$(envpath)"
export LD_LIBRARY_PATH="$MKL_ROOT/lib:$HOME/.local/lib:/usr/local/lib:usr/lib"
export LD_PRELOAD=${MKL_ROOT}/lib/libmkl_def.so:${MKL_ROOT}/lib/libmkl_avx.so:${MKL_ROOT}/lib/libmkl_core.so:${MKL_ROOT}/lib/libmkl_intel_lp64.so:${MKL_ROOT}/lib/libmkl_intel_thread.so:${MKL_ROOT}/lib/libiomp5.so
export ICLUDE_PATH="MKL_ROOT/include:/usr/local/include"
