recursive-include building
include noxfile.py
include *.ini
include .flake8
include .darglint
include *.yml
include .coveragerc
include .pylintrc
recursive-include extern *
prune extern/nlopt/build
global-exclude *.py[cod]
