include build_nlopt.py
include extension*.py
include noxfile.py
include *.ini
include .flake8
include .darglint
include *.yml
include .coveragerc
include .pylintrc
recursive-include 3rd-party *
prune 3rd-party/nlopt/build
global-exclude *.py[cod]
