#
# Setup variables and pathes for mckit build environment
#
# This may be used to create .env file to be loaded into python environment
# with dotenv module.
#

export MCKIT_ROOT="$(pwd)"
export PATH="$MCKIT_ROOT/bin:$PATH"


mckit_load_environments() {
    if [[ -r ./.local.env ]]; then
        . ./.local.env
    fi
    if [[ -z "$FISPACT_CFG" ]]; then
        local machine="$(hostname)"
        source "build_configs/utils.env"
        for cfg_src in common ${machine}; do
            local env="build_configs/${cfg_src}.env"
            # echo "Searching environment file $env"
            if [[ -r  "$env" ]]; then
                # echo "Sourcing $env"
                source "$env"
                export MCKIT_BUILD_CFG="$env"
                return 0
            fi
        done
        echo "Cannot find environment file"
        return 1
    fi
}


mckit_checkenv() {
    [ -n MCKIT_BUILD_CFG ]
}


mckit_printenv() {
    (
        build_printenv
        echo "MCKIT_BUILD_CFG=$MCKIT_BUILD_CFG"
    ) | sort
}


mckit_update_dot_env() {
    mckit_load_environments    && \
    mckit_checkenv   && \
    mckit_printenv >| .env
}

echo "$BATS_PREFIX"

[ -n "$BATS_PREFIX" ] ||  mckit_update_dot_env

# vim: set ts=4 sw=0 tw=79 ss=0 ft=sh et ai :
